<!-- start footer -->
<div class="footer_bg">
<div class="wrap">
	<div class="footer">
		<div class="span_of_4">
			<div class="span1_of_4">
				<h4>about us</h4>
				<p>会一些ActionSctipt,会一些PHP,会一些Node,什么都会一些生活更多彩一些......</p>
				<h5>Address</h5>
				<p class="top">广东省深圳市</p>
				<p>南山区马家龙明珠荔景</p>
				<p>中国</p>
				<p>Phone:13480988734</p>
				<p>Email:as3long@qq.com</p>
			</div>
			<div class="span1_of_4">
				<h4>latest posts</h4>
				<%latestPosts.forEach(function(post){%>
				    <a href="/archives/blog/<%-post.cid%>"><span><%-post.title%></span></a>
				    <p><%-getDate(post.created)%></p>
				<%})%>
			</div>
			<div class="span1_of_4">
				<h4>comments</h4>
				<ul class="ds-recent-comments" data-num-items="4" data-show-avatars="0" data-show-title="1"></ul>
			</div>
			<div class="span1_of_4">
				<h4>最近访客</h4>
				<ul class="ds-recent-visitors f_nav" data-num-items="9"></ul>  
			</div>
			<div class="clear"></div>
		</div>
		<div class="footer_top">
			<div class="copy">
				<p class="link">Copyright &copy; 2014. Ham All rights reserved.</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</div>

<script data-main="/js/main.js" src="/js/require.js"></script>