<!DOCTYPE html>
<html>
  <head>
    <title>注册帐号</title>
    <!-- Bootstrap -->
    <link href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/admin/styles.css">
  </head>
  <body id="login">
    <div class="container">
      <form class="form-signin" action="/admin/regist" method="post">
        <h2 class="form-signin-heading">填写注册信息</h2>
        <span><%-pwd_info%></span>
        <input type="text" name="email" class="input-block-level" placeholder="邮箱地址">
        <input type="password" name="password" class="input-block-level" placeholder="密码">
        <input type="password" name="again_password" class="input-block-level" placeholder="确认密码">
        <a href="/admin/login" class="btn" type="button">返回登录</a>
        <button class="btn btn-primary" type="submit">注册</button>
      </form>

    </div> <!-- /container -->
    <script src="http://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>