<!DOCTYPE HTML>
<html>
<head>
<title>Ham博客</title>
<% include inc/link-meta.html %>
</head>
<body>
<!-- start header -->
<div class="header">
<div class="wrap">
	<div class="h_main">
		<div class="h_text">
			<h2>Ham</h2>
			<p>Ham是一个小巧的node web框架，目前的版本采用sqlite作为数据库。支持有一些简易的方法操作数据库，目前还不是很完善。<span class="hide1">改博客程序是在Ham的基础上开发的！目的是为了学习node。</span> </p>
		</div>
		<div class="clear"></div>
	</div>
	<% include inc/header_left.html %>
</div>
</div>
<!-- start main -->
<div class="main">
	<div class="wrap">
		<!-- start content -->
		<div class="content">
			<h2>特点</h2>
			<ul>
				<li>丰富的adapter</li>
				<li>Hook&Middleware</li>
				<li>SQL</li>
				<li>支持WebSocket</li>
				<li>REST API</li>
				<li>AMF</li>
			</ul>
			<div class="clear"></div>	
		</div>
		<!-- end content -->
</div>
</div>
<% include inc/footer.html %>
</body>
</html>